@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Josefin Sans', sans-serif;
}

/* Carousel CSS */

.frame7-container {
  text-align: center;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  transition: transform 0.5s ease, opacity 0.5s ease, border-radius 0.5s ease;
}

.swiper-slide-active {
  opacity: 1 !important;
  transform: scale(1.2);
  padding: 42px 48px;
}

.frame7-card {
  transition: transform 0.5s ease, opacity 0.5s ease;
  border-radius: 20px;
}

.swiper-slide-active .frame7-card {
  box-shadow: -5px 0 20px -15px rgba(255, 255, 255, 0.5) inset, 5px 0 20px -15px rgba(255, 255, 255, 0.5) inset; 
  transform: scale(1.1);
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.swiper-pagination-bullet-active {
  background: white !important;
}

.swiper-button-prev:after {
  content: "prev";
  font-size: 18px;
  font-weight: bold;
}

.swiper-button-next:after {
  content: "next";
  font-size: 18px;
  font-weight: bold;
}

/* Chart CSS */

.am5-layer-30 + text{
  fill: white;
}


/* Animation Css */

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideInFromLeft {
  animation: slideInFromLeft 1s forwards;
}

.animate-slideInFromRight {
  animation: slideInFromRight 1s forwards;
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideInFromBottom {
  animation: slideInFromBottom 1s ease-out forwards;
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideInFromTop {
  animation: slideInFromTop 1s ease-out forwards;
}

.fram1-bg {
  background-image: url("./assets/Glow.png");
  background-size: cover; 
  background-position-y: bottom;
  background-repeat: no-repeat;
}
